
div.product-item {
    width: 21%;
    height: 270px;
    float: left;
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

div.product-item .item-title {
    font-size: 10px;
    width: 100%;
    height: 50px;
    overflow-y: auto;
}

div.product-item .item-image {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200px;
}

div.product-item .item-image table.details-table {
    font-size: 8px;
    color: #ccc;
    float: right;
    background-color: black;
    opacity: 80%;
}

div.product-item .item-data  table.details-table {
    width: 100%;
}

div.product-item .item-data table.details-table .price {
    font-size: 10px;
    float: right;
}
