{% extends 'base.html.twig' %}

{% block title %}Order Management Service!{% endblock %}

{% block body %}
<div class="header-wrapper container">
    <table style="width: 100%;">
        <tr>
            <td>
                <h1 class="centered">Hello {{ site_title }}! ✅</h1>
            </td>
            <td>
                <a href="{{ path('app_orders_index') }}" >Orders list</a>
                {% if order_id and (order_id > 0) %}
                <a href="{{ path('app_orders_show', {'id': order_id}) }}">Order: ({{ order_id }})</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<div class="example-wrapper container">
    {% include 'products/list.html.twig' %}
</div>
{% endblock %}
