{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
<div class="example-wrapper container">
    <h1>Edit Orders</h1>

    <a href="{{ path('app_index') }}">Home</a>
    <fieldset>
        <legend>Details:</legend>
        {{ include('orders/edit/details.html.twig', {'edit': true}) }}
    </fieldset>

    <fieldset>
        <legend>Items:</legend>
        {{ include('orders/edit/items.html.twig', {'edit': true}) }}
    </fieldset>
</div>
{% endblock %}
